{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <span id="foot-logo__span">IT-RUN - ОШ</span>
                <span id="foot-desc">Академия программирования</span>
                <div class="social__btns">
                    <a href="https://www.instagram.com/itrun.osh/" target="_blank"><img src="{% static 'img/inst.svg' %}" alt=""></a>
                    <a href="https://www.facebook.com/itrun.academy/" target="_blank"><img src="{% static 'img/faceBk.svg' %}" alt=""></a>
                    <a href="https://www.youtube.com/@it-runlive2398" target="_blank"><img src="{% static 'img/youtube.svg' %}" alt=""></a>
                </div>
            </div>
            <div class="col-2">
                <ul>
                    <li><a href="/#Section-3">Чему вы научитесь</a></li>
                    <li><a href="">Стоимость</a></li>
                    <li><a href="">Контакты</a></li>
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                    <li><a href="{% url 'login' %}">Вход</a></li>
                </ul>
            </div>
            <div class="col-2">
                <span id="foot_tel">+996 (703) 900-550<span>
            </div>
        </div>
    </div>
</footer>

<!-- <script src="{% static 'js/code.jquery.com_jquery-3.7.0.min.js' %}"></script> -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>