{% include 'includes/header.html' %}
{% load static %}
{% if user.is_authenticated and request.user == user %}
<div class="Form">
    <div class="block_form">
        <h1>Регистрация</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input value="{{user.username}}" name="username" type="text" placeholder="Имя пользователя"><br>
            <input value="{{user.email}}" name="email" type="email" placeholder="E-mail"><br />
            <input value="{{user.phone}}" name="phone" type="text" placeholder="Телефон"><br />
            <input value="{{user.occupation}}" name="occupation" type="text" placeholder="Ваше направление в IT?"><br />
            <input value="{{user.skills}}" name="skills" type="text" placeholder="Скилл(языки, библиотеки которые вы знаете)"><br />
            <label style="font-family: Gilroy; font-weight: 500" for="birth">Дата рождения</label><br />
            <input value="{{user.birth}}" name="birth" type="date" placeholder="Дата рождения"><br />
            <label style="font-family: Gilroy; font-weight: 500" for="profile_image">Аватарка</label><br />
            <input value="{{user.profile_image}}" name="profile_image" type="file" placeholder="Аватарка"><br />
            <button type="submit">Изменить профиль</button>
        </form>
    </div>
</div>
{% else %}
<h1 style="text-align: center; font-size:90px;">У вас нет прав на редактирование данной страницы!</h1>
{% endif %}
{% include 'includes/footer.html' %}
